<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FollowMap"
        tools:targetApi="31">
        <activity
            android:name=".view.City.CityView"
            android:exported="false" />
        <activity
            android:name=".view.User.UserView"
            android:exported="false" /> <!-- MainActivity é a atividade de entrada -->
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- RegistroDeUsuarioActivity para registrar novos usuários -->
        <activity android:name=".view.UserActivity" /> <!-- HomeActivity com BottomNavigationView -->
        <activity android:name=".view.HomeActivity" />
    </application>

</manifest>